.toolbar-tab .toolbar-icon.preview--started:before {
  background-image: url('../assets/icons/gray/eye_on.svg');
}
.toolbar-tab .toolbar-icon.preview--started:active:before,
.toolbar-tab .toolbar-icon.is-active.preview--started:before {
  background-image: url('../assets/icons/white/eye_on.svg');
}
.toolbar-tab .toolbar-icon.preview--stopped:before {
  background-image: url('../assets/icons/gray/eye.svg');
}
.toolbar-tab .toolbar-icon.preview--stopped:active:before,
.toolbar-tab .toolbar-icon.is-active.preview--stopped:before {
  background-image: url('../assets/icons/white/eye.svg');
}
.entity-reference-preview-preview-actions {
  padding: 10px;
  color: rgb(86, 86, 86);
}

.block-entity-reference-preview-preview-detector {
  background-color: rgba(57, 200, 193, 0.5);
  border: 2px solid rgba(57, 200, 193, 0.2);
}
.block-entity-reference-preview-preview-detector form {
  display: flex;
  align-items: center;
}

.entity-reference-preview-preview-actions .description {
  margin: 0;
  line-height: 1.3em;
}
.entity-reference-preview-preview-actions .description .inline-link {
  display: inline;
  padding: 2px 4px;
  background-color: rgba(86, 86, 86, 0.1);
  border-radius: 2px;
}
.block-entity-reference-preview-preview-detector .description {
  width: 73%;
  margin: 0 2% 0 0;
}

.entity-reference-preview-preview-actions .form-controls {
  margin: 10px 0 0 0;
}
.block-entity-reference-preview-preview-detector.entity-reference-preview-preview-actions .form-controls {
  margin: 0;
}

.erp-status {
  display: flex;
  align-items: center;
}
.erp-status .preview-status-indicator {
  padding: 1em 1.3333em;
}
.erp-status .preview-status-indicator span.circle {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: #5a5a5a;
  display: inline-block;
  margin-right: 5px;
  padding: 0;
}
.erp-status .preview-status-indicator.preview--stopped span.circle {
  background-color: #5a5a5a;
}
.erp-status .preview-status-indicator.preview--previewing span.circle {
  background-color: #bd0000;
  box-shadow: 0 0 3px #bd0000;
}
