.entity-reference-preview__has-draft {
  position: absolute;
  color: transparent;
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background-color: rgba(57, 200, 193, 0.25);
  margin: -8px 0 0 -8px;
  cursor: crosshair;
  overflow: hidden;
  transition: all 0.2s;
  z-index: 1;
}

.entity-reference-preview__has-draft:hover {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: rgb(57, 200, 193);
  margin: -10px 0 0 -10px;
}
